html {
    --color-background: #ebb1bb;
    --color-darker: #642d7a;
    --color-accent: #d731a9;

    --font-basic: Roboto, sans-serif;
}

body {
    font-family: var(--font-basic);
    font-weight: 300;
    background-color: var(--color-background);
}

.typo_header-1 {
    font-weight: 500;
    font-size: 4rem;
}
.typo_header-2 {
    font-weight: 500;
    font-size: 1.6rem;
}
.typo_section-header{
    font-weight: 500;
    font-size: 2.5rem;
}
.typo_regular {
    font-weight: 300;
}
.typo_interactive {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1px;
    font-size: .9rem;
}
.typo_uptitle {
    font-weight: 100;
    font-size: 1.7rem;
}
.typo_copyright {
    color: black;
    font-style: italic;
    font-weight: 300;
    font-size: .8rem;
}
.typo_bolder {
    font-weight: bolder;
}
.typo_figure_title {
    font-weight: 300;
    font-size: 1.6rem;
}
.color_white {
    color: white;
}
.color_opaque {
    color: #ccc;
}
.color_basic {
    color: var(--color-background)
}
.color_accent {
    color: var(--color-accent)
}
.color_dark {
    color: var(--color-darker)
}
.color-grey {
    color: #aaa;
}

.edged-section {
    width: 100%;
}
.edged-section__content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    width: 100%;
    border-radius: 6px;
    padding: 15px 15px;
    background-color: var(--color-accent);
    color: white;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    transition: all .2s;
}
.button:hover {
    opacity: .6;
}
.button:active {
    opacity: 1;
}

/* Header */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.header-nav__logo {

}
.logo__link {
    color: var(--color-darker);
    font-weight: bolder;
    font-size: 1.4rem;
    text-decoration: none;

}
.menu__trigger {
    text-decoration: none;
    color: var(--color-accent);
    font-size: 1.5rem;
}

.section_introduction { 
    
}
.main-title-container {
    display: grid;
    grid-template-areas: 
        ". title";
    grid-auto-rows: minmax(500px, 55vh);
    grid-auto-columns: 1fr 1fr;
    gap: 0;
    align-items: center;

    background-image: url('../images/isolated-g31852871b_1920.png');
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: 0 bottom;
}
.main-title-container__content {
    grid-area: title;
}
.main-title-container__content {
    padding-top: 20px;
}
.main-title-container__content  h1:before {
    content: "";
    display: block;
    width: 6rem;
    height: 0;
    border: 3px solid var(--color-darker);
    position: relative;
    top: -15px;
}

.main-title-container__copyright {
    margin: 20px 0;
}
.copyright__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
.copyright__link:after{
    display: block;
    content: "";
    width: 100%;
    border-bottom: 1px solid black;
    height: 0;
    position: relative;
    top: 1px;
}
.title-navigation__item .button{
    width: 40%;

}

.services-list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.services-list__item {
    background-color: #fff;
    box-shadow: 2px 2px 10px #aaa;
    padding: 25px;
    text-align: center;
}
.services_list__item-icon {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    width: 5rem;
    height: 5rem;
    border-radius: 4rem;;
    text-align: center;
    vertical-align: middle;
    color: var(--color-darker);
    font-size: 2rem;
    margin-bottom: 20px;
}
.services_list__item-icon:before {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.services-list__item-title {
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: var(--color-darker);
}